.center-div{
    text-align: center;
}

.form-div{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.form-data{
    display: contents;
    /* flex-direction: column; */
}

.input-class{
    width:300px;
    height:30px;
    margin-top: 10px;
}


.anchor-tag{
    color: #03bafc;
    cursor: pointer;
}