.main-div{
    width: 100%;
    /* height: auto; */
    display: flex;
}

.sidebar{
    width: 20%;
    background-color: #111112;
    color: white;
    height:100vh !important
}
.side-body{
    width: 80%;
    /* border: 10px solid blue; */
}

.sidebar-navbar{
    margin: 20px;
}